################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SPOT Control Algorithm/Microsoft Visual C++ 2005 Express/.vs/SPOT Control Algorithm/v15/Browse.VC.opendb
/SPOT Control Algorithm/Microsoft Visual C++ 2005 Express/.vs/SPOT Control Algorithm/v15/.suo
/SPOT Control Algorithm/Microsoft Visual C++ 2005 Express/.vs/SPOT Control Algorithm/v15/Browse.VC.db